<div class="container__reward cart-margins__inline">
  <div
    id="data-reward"
    data-amount-discount-one="{{ amount_reward_one }}"
    data-discount-one="{{ discount_reward_one }}"
    data-amount-discount-two="{{ amount_reward_two }}"
    data-discount-two="{{ discount_reward_two }}"
    data-amount-discount-three="{{ amount_reward_three }}"
    data-discount-three="{{ discount_reward_three }}"
    data-limit-price="{{ limit_price }}"
    data-cart-total="{{ cart_total }}"
    data-active-reward-two="{{ active_reward_two }}"
    data-active-reward-three="{{ active_reward_three }}"
  >
  </div>
  {% if condition %}
    
  {% endif %}
  <div class="container__reward-bar">
    <div class="container__reward-bar--progress progress-js">
    </div>
  </div>

  <div 
    class="container__reward-content
    {% unless active_reward_two or  active_reward_three %}
    center-flex
    {% endunless %} 
    " 
  >
    
    <div class="container__reward-content--reward">   
        <p 
          class="point-unique
          {% unless active_reward_two or  active_reward_three %}
            point-none
          {% endunless %}
          "
        >
          |
        </p> 
      
      ${{ amount_reward_one }} = {{ text_reward_one }}
    </div>
    
    {% if active_reward_two %}
      <div class="container__reward-content--reward">
        <p class="point-product-one">|</p> 
        ${{ amount_reward_two }} = {{ text_reward_two }}
      </div>
    {% endif %}
    {% if active_reward_three %}
      <div class="container__reward-content--reward"> 
        <p class="point-product-two">|</p> 
        ${{ amount_reward_three }} = {{ text_reward_three }}
      </div>
    {% endif %}

  </div>
</div>