<!-- eslint-disable max-len -->
{% comment %}
  render variant side cart unique slect - color checkbox or select list

  Accepts:
  - product - object product
  - option_field: {String} Reference options in radio buttons.
  To render radio buttons include string with:
  'Color'. only one variant. color = radio, other = select
  - variant_selected - variant current select item cart
  - index - number line item
  - variant_old - variant old select adding cart

  Usage:
  {% render 'variants-form'
    product: product,
    option_field: 'Color',
    variant_selected: item.options_with_values,
    index: forloop.index,
    variant_old: item.variant.id
  %}
{% endcomment %}

{%- liquid
  assign first_variant = product.selected_or_first_available_variant
-%}

<div class="variant-cart">
  <input
  type="hidden"
  class="line-variants-currents"
  value="{{ index }}"
  />
  <input
    type="hidden"
    class="variant_old"
    value="{{ variant_old }}-{{ index }}"
  />
  <input
    type="hidden"
    id="variants"
    value="{{ product.variants | json | escape }}"
  />
  <input
    type="hidden"
    id="options"
    value="{{ product.options | json | escape }}"
  />
  <input
    type="hidden"
    name="id"
    value="{{ first_variant.id }}"
    data-variant="{{ product.handle }}"
  />
  {% assign lengthOptions = product.options | size %}
  {%- unless product.has_only_default_variant -%}
    {%- for option_name in product.options -%}
    {%- assign option_visible = variant_selected
      | where: "name", option_name
    -%}
      {% if option_field == option_name %}
        {% liquid
          if forloop.index == 1
            assign available_value = first_variant.option1 | strip
          elsif forloop.index == 2
            assign available_value = first_variant.option2 | strip
          elsif forloop.index == 3
            assign available_value = first_variant.option3 | strip
          endif
        %}
        <div
          class="variants--options
          {% if lengthOptions >= 1 %}
            variants--options__acordion
          {% endif %}"
        >
          <div class="variants--options__acordion__head">
            <span class="variants--name">
              {{ option_name }}
            </span>
          </div>
          {%- if option_field contains 'Color' -%}

              <div
                class="variants--radio-container"
                data-type="{{ option_name }}"
              >

                {%- for option_value in product.options_by_name[option_name].values -%}
                  <label
                    class="variant__radio-button"
                    title="{{ option_name }} {{ option_value }}"
                  >
                    <input
                      class="hidden js-option"
                      type="radio"
                      name="{{ option_name }}-{{ index }}"
                      value="{{ option_value }}"
                      {% if option_value == option_visible[0].value %}
                        checked="checked"
                      {% endif %}
                    />
                    <div
                      class="variant__radio-button--design option_{{ option_value | handleize }}"
                    >
                    </div>
                  </label>
                {%- endfor -%}
              </div>

          {%- else -%}

            <div class="variants--radio-container variants--select-container form_textfield">
              <select
                name="{{ option_name }}"
                class="variants--select-tag js-option"
              >
                {%- for option_value in product.options_by_name[option_name].values -%}
                  <option
                    value="{{ option_value }}"
                    {% if option_value == option_visible[0].value %}
                      selected="true"
                    {% endif %}
                  >
                    {{ option_value }}
                  </option>
                {%- endfor -%}
              </select>
            </div>
          {%- endif -%}
        </div>
      {% else %}
        {% for option_hidden_selected in variant_selected %}
            {% if option_hidden_selected.name == option_name %}
              <input
                class="hidden js-option element-combination"
                type="text"
                name="{{ option_hidden_selected.name }}"
                value="{{ option_hidden_selected.value }}"
              />
            {% endif %}
        {% endfor %}
      {% endif %}
    {%- endfor -%}
  {%- endunless -%}

</div>
